In [20]:
!pip install requests
!pip install pandas
!pip install numpy

Requirement already satisfied: requests in /opt/homebrew/lib/python3.11/site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/homebrew/lib/python3.11/site-packages (from requests) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/homebrew/lib/python3.11/site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/homebrew/lib/python3.11/site-packages (from requests) (2.0.2)
Requirement already satisfied: certifi>=2017.4.17 in /opt/homebrew/lib/python3.11/site-packages (from requests) (2023.5.7)
Requirement already satisfied: pandas in /opt/homebrew/lib/python3.11/site-packages (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/homebrew/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /opt/homebrew/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /opt/homebrew/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /opt/homebrew/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: numpy in /opt/homebrew/lib/python3.11/site-packages (1.24.3)

In [2]:
genres = [
    {"id": 28, "name": "Action"},
    {"id": 12, "name": "Adventure"},
    {"id": 16, "name": "Animation"},
    {"id": 35, "name": "Comedy"},
    {"id": 80, "name": "Crime"},
    {"id": 99, "name": "Documentary"},
    {"id": 18, "name": "Drama"},
    {"id": 10751, "name": "Family"},
    {"id": 14, "name": "Fantasy"},
    {"id": 36, "name": "History"},
    {"id": 27, "name": "Horror"},
    {"id": 10402, "name": "Music"},
    {"id": 9648, "name": "Mystery"},
    {"id": 10749, "name": "Romance"},
    {"id": 878, "name": "Science Fiction"},
    {"id": 10770, "name": "TV Movie"},
    {"id": 53, "name": "Thriller"},
    {"id": 10752, "name": "War"},
    {"id": 37, "name": "Western"}
]

genres

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 80, 'name': 'Crime'},
 {'id': 99, 'name': 'Documentary'},
 {'id': 18, 'name': 'Drama'},
 {'id': 10751, 'name': 'Family'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 36, 'name': 'History'},
 {'id': 27, 'name': 'Horror'},
 {'id': 10402, 'name': 'Music'},
 {'id': 9648, 'name': 'Mystery'},
 {'id': 10749, 'name': 'Romance'},
 {'id': 878, 'name': 'Science Fiction'},
 {'id': 10770, 'name': 'TV Movie'},
 {'id': 53, 'name': 'Thriller'},
 {'id': 10752, 'name': 'War'},
 {'id': 37, 'name': 'Western'}]

In [3]:
import requests
import pandas as pd
import auth

url = 'https://api.themoviedb.org/3/movie/top_rated?language=ko&'

headers = auth
data = []

for i in range(1, 2):
    response = requests.get(url + str(i), headers=headers)
    json_response = response.json()
    for movie in json_response['results']:
        # 개봉연도가 2010년 이후인 영화만 저장
        if movie['release_date'][:4] >= '2010':
            # genre_ids를 이용하여 genre 컬럼 생성
            genre_ids = movie['genre_ids']
            genre_columns = [genre['name'] for genre in genres if genre['id'] in genre_ids]
            genre_values = [1 if genre in genre_columns else 0 for genre in genre_columns]

            # 데이터 추가
            data.append({
                'id': movie['id'],
                'original_title': movie['original_title'],
                'title': movie['title'],
                'release_date': movie['release_date'],
                **dict(zip(genre_columns, genre_values))
            })

df = pd.DataFrame(data)

df

,id,original_title,title,release_date,Comedy,Fantasy,Animation,Drama,Romance,Thriller,Adventure,Family,Action
0,772071,Cuando Sea Joven,Cuando Sea Joven,2022-09-14,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,372058,君の名は。,너의 이름은.,2016-08-26,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN
2,496243,기생충,기생충,2019-05-30,1.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN
3,372754,同級生,동급생,2016-02-20,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN
4,995133,"The Boy, the Mole, the Fox and the Horse",소년과 두더지와 여우와 말,2022-12-25,NaN,1.0,1.0,NaN,NaN,NaN,1.0,1.0,NaN
5,704264,Primal: Tales of Savagery,Primal: Tales of Savagery,2019-11-21,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,1.0

In [1]:
import time
import numpy as np

# df의 id 값을 기준으로 API 호출 및 정보 추가
for index, row in df.iterrows():
    movie_id = row['id']
    animation_genre = row['Animation']

    # Animation 컬럼이 1인 경우에만 실행
    if np.isnan(animation_genre):
        # API 호출
        url = f"https://api.themoviedb.org/3/movie/{movie_id}?language=ko"
        headers = {
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2ZGI1OGRmMmVjY2Y2N2MwNjlkN2U3MTRkNDY4MTQ2NSIsInN1YiI6IjYyOTk2MzQ0ZWMwYzU4MDBhMzhlMTMxOCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.NZmMcHuJauGS2Ko3iApoCBhZ921aW6ObFeUaLvlTpMk",
            "accept": "application/json"
        }
        response = requests.get(url, headers=headers)
        api_data = response.json()

        # 정보 추출 및 추가
        df.at[index, 'adult'] = int(api_data['adult'])
        df.at[index, 'revenue'] = api_data['revenue']
        df.at[index, 'overview'] = api_data['overview']
        time.sleep(0.5)

NameError: name 'df' is not defined

In [25]:
df

,id,original_title,title,release_date,Comedy,Fantasy,Animation,Drama,Romance,Thriller,Adventure,Family,Action,adult,revenue,overview
0,772071,Cuando Sea Joven,Cuando Sea Joven,2022-09-14,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,
1,372058,君の名は。,너의 이름은.,2016-08-26,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,496243,기생충,기생충,2019-05-30,1.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,0.0,257591776.0,전원 백수로 살 길 막막하지만 사이는 좋은 기택 가족. 장남 기우에게 명문대생 친구...
3,372754,同級生,동급생,2016-02-20,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,995133,"The Boy, the Mole, the Fox and the Horse",소년과 두더지와 여우와 말,2022-12-25,NaN,1.0,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN
5,704264,Primal: Tales of Savagery,Primal: Tales of Savagery,2019-11-21,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN

In [28]:
def get_movie_credits(movie_id):
    # API 요청 URL
    url = f'https://api.themoviedb.org/3/movie/{movie_id}/credits?language=ko'

    # API 요청 헤더
    headers = {
        'Authorization': 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2ZGI1OGRmMmVjY2Y2N2MwNjlkN2U3MTRkNDY4MTQ2NSIsInN1YiI6IjYyOTk2MzQ0ZWMwYzU4MDBhMzhlMTMxOCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.NZmMcHuJauGS2Ko3iApoCBhZ921aW6ObFeUaLvlTpMk',
        'Accept': 'application/json'
    }

    # API 요청 보내기
    response = requests.get(url, headers=headers)
    response_json = response.json()

    return response_json


# 결과를 저장할 리스트 생성
actor_ids = []
popularity_list = []

# DataFrame 순회하며 API 요청 및 결과 저장
for index, row in df.iterrows():
    movie_id = row['id']
    response_json = get_movie_credits(movie_id)

    # 요구사항에 맞는 정보 추출
    cast_list = response_json.get('cast', [])
    acting_casts = [cast for cast in cast_list if cast.get('known_for_department') == 'Acting']

    if acting_casts:
        # popularity 기준으로 정렬하여 가장 인기 있는 배우 정보 추출
        sorted_casts = sorted(acting_casts, key=lambda x: x.get('popularity'), reverse=True)
        actor_id = sorted_casts[0].get('id')
        popularity = sorted_casts[0].get('popularity')

        # 결과 저장
        actor_ids.append(actor_id)
        popularity_list.append(popularity)
    else:
        # 해당하는 배우 정보가 없을 경우에 대한 처리
        actor_ids.append(None)
        popularity_list.append(None)

# 결과를 DataFrame에 추가
df['actor_id'] = actor_ids
df['popularity'] = popularity_list

# 결과 확인
df

# 시리즈물 정보 추가
# 배우 1,2,3 정보 추가

,id,original_title,title,release_date,Comedy,Fantasy,Animation,Drama,Romance,Thriller,Adventure,Family,Action,adult,revenue,overview,actor_id,popularity
0,772071,Cuando Sea Joven,Cuando Sea Joven,2022-09-14,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,,954828,3.748
1,372058,君の名は。,너의 이름은.,2016-08-26,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119143,15.619
2,496243,기생충,기생충,2019-05-30,1.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,0.0,257591776.0,전원 백수로 살 길 막막하지만 사이는 좋은 기택 가족. 장남 기우에게 명문대생 친구...,556435,17.035
3,372754,同級生,동급생,2016-02-20,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,126698,7.075
4,995133,"The Boy, the Mole, the Fox and the Horse",소년과 두더지와 여우와 말,2022-12-25,NaN,1.0,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,17605,25.280
5,704264,Primal: Tales of Savagery,Primal: Tales of Savagery,2019-11-21,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1281304,3.281